/* Fonts */

@font-face {
    font-family: custom;
    src: url(../fonts/Muli/Muli-ExtraLight.ttf);
    /*src: url(../fonts/Exo2/Exo2-LightCondensed.otf);*/
}

@font-face {
    font-family: custom-expanded;
    src: url(../fonts/Muli/Muli-ExtraLight.ttf);
    /*src: url(../fonts/Exo2/Exo2-LightExpanded.otf);*/
}

/* Body and Wrappers */

body {
    height: 100vh;
    margin: 0 0 0 0;

    background-color: white;
}

#wrap {
    width: 40em;
    height: 100%; 

    margin: 0 auto 0; /* centering */

    background-color: white;
}

/* Header */

header {
    height: 10em;
}

header #title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 70%;

    font-family: custom-expanded;
    text-align: center;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 2em;

    font-family: custom;
    font-size: large;
}

header nav a {
    color: black;
    text-decoration: none;

    padding-left: 1em;
    padding-right: 1em;
}

header nav a.active {
    color: orangered;
}

/*header hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lightgray;
    margin: 0;
    padding: 0; 
}*/

/* Main */

main {
    padding: 1em 1em 1em 1em;

    font-family: custom;
    font-size: large;
}