/* Fonts */

@font-face {
    font-family: custom;
    src: url(../fonts/Muli/Muli-ExtraLight.ttf);
    /*src: url(../fonts/Exo2/Exo2-LightCondensed.otf);*/
}

@font-face {
    font-family: custom-expanded;
    src: url(../fonts/Muli/Muli-ExtraLight.ttf);
    /*src: url(../fonts/Exo2/Exo2-LightExpanded.otf);*/
}

/* Global settings */

a {
    color: slategrey;
    
    text-decoration: none;
    font-style: italic;
}

/* Body and Wrappers */

html, body, #wrap {
    height: 100%;

    background-color: white;
}

body > #wrap {
    height: auto;
    width: 30em;

    min-height: 100%;

    margin: 0 auto 0;
}

/* Header */

header #title {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 3em;
    margin-bottom: 1.75em;
}

header #title img {
    max-width: 35%;
    width: auto;
    height: auto;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 2em;

    font-family: custom;
    font-size: large;
}

header nav a {
    color: black;

    font-style: normal;

    padding-left: 1em;
    padding-right: 1em;
}

header nav a:hover {
    color: slategray;
}

header nav a.active {
    color: orangered;

    pointer-events: none;
}

/* Main */

main {
    padding: 1em 1em 1em 1em;

    margin-top: 2em;
    margin-bottom: 2em;

    font-family: custom;
    font-size: large;
}

/* Contact */

#contact #contact-buttons {
    margin-top: 2em;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contact-buttons > a {
    display: block;

    margin-left: 0.5em;
    margin-right: 0.5em;

    width: 1.75em;
    height: 1.75em;

    background: transparent url(../icons/www-white.svg) center top no-repeat;
}

/* email */
#contact-buttons > a#contact-email {
    background-image: url(../icons/email-white.svg);
}

#contact-buttons > a#contact-email:hover {
    background-image: url(../icons/email-black.svg);
}

/* linkedin */
#contact-buttons > a#contact-linkedin {
    background-image: url(../icons/linkedin-white.svg);
}

#contact-buttons > a#contact-linkedin:hover {
    background-image: url(../icons/linkedin-black.svg);
}

/* facebook */
#contact-buttons > a#contact-facebook {
    background-image: url(../icons/facebook-white.svg);
}

#contact-buttons > a#contact-facebook:hover {
    background-image: url(../icons/facebook-black.svg);
}

/* instagram */
#contact-buttons > a#contact-instagram {
    background-image: url(../icons/instagram-white.svg);
}

#contact-buttons > a#contact-instagram:hover {
    background-image: url(../icons/instagram-black.svg);
}

/* github */
#contact-buttons > a#contact-github {
    background-image: url(../icons/github-white.svg);
}

#contact-buttons > a#contact-github:hover {
    background-image: url(../icons/github-black.svg);
}

/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: custom;
    font-size: small;
}

